@import url('https://fonts.googleapis.com/css?family=Kalam:700|Londrina+Solid:900');
/* .navbar {
    change background of bar
} */

.nav-link {
    color: #f4f4f4;
    cursor: pointer;
}



a.navbar-brand {
    color: #f4f4f4;
    cursor: pointer;
    /*Display flex + align self manipulates only if lineheight is less than font size*/
    font: 700 35px 'Kalam' !important;
    /* font: italic 900 35px 'Londrina Solid' !important; */
    margin-bottom: -7px;
    padding-top: 2px;
    padding-bottom: 2px;
    letter-spacing: 0px;
    /* line-height: 20px !important; */
}

button:focus {
    outline: 5px auto black;
}

body {
    padding-top: 56px;
}

.header {
    /* background-image: url('../assets/RosesR1.png'); */
    background: linear-gradient(to bottom, rgba(92, 77, 66, .5) 0, rgba(92, 77, 66, .5) 100%), url(../assets/RosesR1.png);
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}



.nav-link:hover {
    background: #f4f4f4;
    color: #F97300;
}

.navbar-collapse,
.navbar-collapse.show {
    /* place the navbar menu on the right */
    justify-content: flex-end;
    text-align: end;
}

#slideshow {
    display: none;
}

.bg-iconnavv {
    background: #f0323d;
    /* Old browsers */
    background: -moz-linear-gradient(top, #f0323d 0%, #e6366c 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #f0323d 0%, #e6366c 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #f0323d 0%, #e6366c 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f0323d', endColorstr='#e6366c', GradientType=0);
    /* IE6-9 */
    border-radius: 0;
    padding: 10px;
}

.bg-iconnav {
    background: rgb(131, 128, 128);
    padding: 0em 0.1em !important;
    align-content: center;

}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    font-size: 1em;
    /*controls size of icon*/
}

/*stuff for the image dropper */

.dropZone {
    position: absolute;
    display: none;
    align-items: center;
    justify-content: center;
    top: 7px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    border: 2px black dashed;
    margin: auto;
    font-size: 3em;
    width: 95%;
    height: 45%;
    margin-top: 10px;
    background-color: rgba(1, 1, 1, 0.3);
}

.dropZone2 {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px black dashed;
    margin: auto;
    font-size: 1.2em;
    width: 55%;
    height: 7%;
    margin-top: 10px;
    background-color: rgba(1, 1, 1, 0.3);
}

#main {
    /* width: 100vw; */
    height: 100vh;
    position: relative;
    max-width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    padding-right: 0px;
    padding-left: 0px;
}

html {
    overflow-y: hidden;
    overflow-x: hidden;
}

.area {
    display: flex;
    height: 70%;
    /* height: var(--img-height); */
    width: 100%;
    /*sticks together all at center in flexbox*/
    justify-content: center;
    align-items: center;
    /*compensates right margin*/
    padding-left: 10px;
    background-color: #343a40;
    box-shadow: 0 4px 40px #17141d;
}

:root {
    --img-height: 78%;
}

img {
    /* height: 100%; */
    height: var(--img-height);
    margin-right: 10px;
    /*height 100% gives cool results*/
    object-fit: contain !important;
}