@import url('https://fonts.googleapis.com/css?family=Fira+Mono:700');

:root{
    --header-h: 5vh;
}

html{
    /* position: relative;  */
    margin: 0;
    padding: 0;
    border: 0px;

    /* overflow-y: hidden; */
}

.navbar{
    background-color: rgba(0,0,0,0.9) !important;
}

body {    
    /* padding-top: 55.7px;
    padding-bottom: 55.7px; */
    font-family: 'Courier New', Courier, monospace;
    color: white;
    height: calc(100vh - (55.7px*2));
    /* height: 100vh; */
    /* width: 100vw; */
    background: rgb(119, 27, 27);
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    border: 0px;
}

.kappa{ 
    /* width: 100%; */
    /* padding: 0px;    */
    background: rgb(131, 44, 44);
    /* width: 100%; *
    /* height: 100%; */
    /* position: absolute; */
    /* background: red; */
    /* height: 100%; */
    /* width: 100%; */
    /* widows: ; */
}

.image-100vh {
    width: 100%;
    height: 100vh;
    /* position: absolute; */      
    /* height: 100vh; */
    /* width: 100%; */
    /* margin:  55.7px 0px; */
    object-fit: contain;
    border: 0px;
}

.image-wrapped {
    padding-top: var(--header-h);
    padding-bottom: var(--header-h);
}

.fixed-bottom, .fixed-top{
    height: var(--header-h);
}

.no-overflow{
    /* overflow-y: hidden; */
}



footer .nav-item{
    /* background: rgba(0,0,33,0.7); */
    padding: 0px 0px;
    font-size: 20px !important;
    /* box-shadow: inset 0px 0px 0px 10px blue; */
}

footer .nav-item.col-6{
}

footer > div > ul > li.nav-item.nav-item.col-6{
    padding: 0px 5vw !important;
}

footer > div > ul.navbar-nav > li.nav-item > a.nav-link{
    padding: .5rem 0rem;
    padding-left: 0rem;
    padding-right: 0rem;
}

span{
    /* vertical-align: text-top; */
    margin-right: 15px;
}

.level-progress{
    /* display: inline-block; */
    width: 50%;
    border: 2px solid;
    height: 10px;
    /* margin: 0px !important; */
    /* align-self: flex-start;
    align-content: flex-start;
    align-items: center; */
    /* vertical-align: text-top; */
}

.progress-bar{
    /* align-content: flex-start;
    align-items: center;
    align-self: flex-start; */
    height: 6px;
    background: #14fe17;
    /* display: inline-block; */
    position: relative;
    width: 60%;
    /* margin: 0px !important; */
}

@media(max-width: 520px){
    footer .nav-item{
        font-size: 12px !important;
    }

    footer.navbar{
        padding: 0.5rem 0rem;
    }
}

/* @media(min-width: 200px){
    footer .nav-item{
        font-size: 24px !important;
    }
} */