@import url("https://fonts.googleapis.com/css?family=Oswald");
@import url("https://fonts.googleapis.com/css?family=Kalam:300,700|Londrina+Solid:900");
html {
  width: 100%;
  margin: 0;
  padding: 0;
  height: 100vh;
  min-height: 100%;
}

body {
  /* font-family: 'Courier New', Courier, monospace; */
  /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  font-family: Kalam;
  font-weight: 300;
  background-color: #101524;
  color: rgba(255, 255, 255, 0.911);
  font-size: 1.2rem;
  min-height: 100vh;
}

@media (min-width: 2000px) {
  body {
    font-size: 1.5rem;
  }
}

@media (min-width: 3000px) {
  body {
    font-size: 2.2rem;
  }
}

p {
  margin: 1vh 0vh;
}

#main {
  background-color: #131e3a;
}

@media (min-width: 768px) {
  #main {
    border-left: 20px solid #131e3a;
    border-right: 20px solid #131e3a;
    position: relative;
    display: -ms-grid;
    display: grid;
    width: 100%;
    height: 100%;
    -ms-grid-columns: 3fr 7fr;
        grid-template-columns: 3fr 7fr;
    -ms-grid-rows: auto 1fr;
        grid-template-rows: auto 1fr;
    grid-gap: 10px 10px;
        grid-template-areas: "left cards" "left footer";
  }
}

@media (min-width: 768px) {
  #cards {
    background-color: wheat;
    position: relative;
    grid-area: cards;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin: 1em 0 0 0;
    padding: 0px;
    -webkit-box-shadow: 0px 6px 4px 0px #715d71;
            box-shadow: 0px 6px 4px 0px #715d71;
  }
}

#footer {
  position: relative;
  height: 100vh;
  /*full screen footer on mobile*/
}

@media (min-width: 768px) {
  #footer {
    background-color: white;
    grid-area: footer;
    -ms-flex-item-align: stretch;
        -ms-grid-row-align: stretch;
        align-self: stretch;
    height: 200px;
    margin: 0 0 1em 0;
  }
}

#menu {
  width: 100%;
  height: 100vh;
}

@media (min-width: 768px) {
  #menu {
    grid-area: left;
    height: auto;
    -ms-flex-item-align: stretch;
        -ms-grid-row-align: stretch;
        align-self: stretch;
    margin: 1em 0 1em 0;
  }
}

.h-container {
  background-color: coral;
  width: 100%;
  position: relative;
  padding: 1vh 6%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content {
  position: relative;
  padding: 1rem;
  margin: auto;
  width: 100%;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.linear-a {
  background-size: 100%;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(119, 88, 169, 0.6)), to(rgba(232, 97, 97, 0.8)));
  background-image: linear-gradient(90deg, rgba(119, 88, 169, 0.6), rgba(232, 97, 97, 0.8));
  position: relative;
  z-index: 100;
}

.linear-a:before {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(249, 132, 148, 0.8)), to(rgba(214, 130, 70, 0.9)));
  background-image: linear-gradient(90deg, rgba(249, 132, 148, 0.8), rgba(214, 130, 70, 0.9));
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  z-index: -100;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

.linear-a:hover:before {
  opacity: 1;
}

.image-filtered {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
}

.image-filtered:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(76, 71, 119, 0.5);
  background-image: url(images/overlay.png);
  background-size: 256px;
  background-position: top left;
  background-repeat: repeat;
  opacity: 1;
  border-radius: inherit;
}

.card-image {
  position: absolute;
  max-height: 100%;
  width: 100%;
  height: 100%;
}

img {
  display: block;
  -o-object-fit: cover !important;
     object-fit: cover !important;
  -o-object-position: center;
     object-position: center;
}

.menu-image {
  height: 100%;
  max-width: 100%;
}

@media (min-width: 768px) {
  .menu-image {
    width: 100%;
    height: 100%;
  }
}

.foot-img {
  max-width: 100%;
  height: 100%;
  z-index: 0;
}

@media (min-width: 768px) {
  .foot-img {
    width: 100%;
    height: 100%;
    -o-object-position: bottom;
       object-position: bottom;
  }
}

#foot-text {
  position: absolute;
  color: white;
  font-size: 2.5rem;
  font-weight: 700;
  width: 100%;
  bottom: 5%;
  z-index: 2000;
}
/*# sourceMappingURL=template.css.map */