@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Kalam:300,700|Londrina+Solid:900');

$colors:(
    warm-1: rgba(249, 132, 148, 0.8),
    warm-2:rgba(214, 130, 70, 0.9),
    hot-1:rgba(232, 97, 97, 0.8),
    cold-1:rgba(119, 88, 169, 0.6)
    // rgba(109, 151, 228, 0.9)rgba(169, 84, 40, 0.54)
);

$desktop: 768px;
$twoK: 2000px;
$fourK: 3000px;

@mixin desktop {
    @media (min-width: #{$desktop}) {
        @content;
    }
}

@mixin fourK {
    @media (min-width: #{$fourK}) {
        @content;
    }
}

@mixin twoK {
    @media (min-width: #{$twoK}) {
        @content;
    }
}


@mixin reset {
    // height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;    
}

html{
    @include reset;
    height: 100vh;
    min-height: 100%;       
}

@function Colour($_color){
    @return map-get($colors, $_color);
}

@mixin gradient-transition( $col1, $col2, $col3, $col4, $transTime ){
    background-size: 100%;
    background-image: linear-gradient(90deg, $col1, $col2);
    position: relative;
    z-index: 100;
    &:before {
      background-image: linear-gradient(90deg, $col3, $col4);
      content: '';    
      display: block;
      height: 100%;
      position: absolute;
      top: 0; left: 0;
      opacity: 0;
      width: 100%;
      z-index: -100;
      transition: opacity $transTime;
    }
    &:hover {
       &:before {
         opacity: 1; 
       }
    }
  }

body {
    /* font-family: 'Courier New', Courier, monospace; */
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    @include reset;
    position: relative;
    font-family: Kalam;
    font-weight: 300;
    background-color: rgb(16, 21, 36);
    color: rgba(255, 255, 255, 0.911);
    font-size: 1rem;
    min-height: 100vh;

    @include desktop{
        font-size: 1.2rem;
    }

    @include twoK{
        font-size: 1.5rem;
    }

    @include fourK{
        font-size: 2.2rem;
    }
}

p{
    margin: 1vh 0vh;
}

#main{
    background-color: hsl(223, 51%, 15%);

    //Use gridlayout on desktop
    @include desktop{
        border-left: 20px solid hsl(223, 51%, 15%);
        border-right: 20px solid hsl(223, 51%, 15%);
        position: relative;
        display: grid;
        width: 100%;
        height: 100%;
        //Using fr removes the chance for padding but also unwanted overflows.
        grid-template-columns: 3fr 7fr;
        grid-template-rows: auto 1fr;
        grid-gap: 10px 10px;     //ver hor
        grid-template-areas: 
            "left cards"
            "left footer";
    }
}

#cards{
    //Grid item on desktop
    @include desktop{        
        background-color: wheat;
        position: relative;
        grid-area: cards;
        // height: 200px;
        align-self: center;
        height: fit-content;
        margin: 1em 0 0 0;
        padding: 0px;
        // padding: 2em;
        // border-radius: 5px;
        box-shadow: 0px 6px 4px 0px rgb(113, 93, 113);
    }
}

#footer{
    position: relative; 
    height: 100vh;           /*full screen footer on mobile*/

    @include desktop{
        // padding-bottom: 200px;
        background-color: white;
        grid-area: footer;
        align-self: stretch;
        height: 200px;
        margin: 0 0 1em 0;    
    }
}

#menu{
    //A deployable hamburger menu taking 100vh
    width: 100%;
    height: 100vh;
    
    @include desktop{
        // height: 100%;
        grid-area: left;
        height: auto;
        align-self: stretch;
        margin: 1em 0 1em 0;
    }  
}


.h-container {
    background-color: coral;
    width: 100%;
    position: relative;
    padding: 3% 6%;
    height: fit-content;

    //Optional, standarizes the size of the cards
    display: flex;
    align-items: center;
}

.content {
    position: relative;
    padding: 1rem;
    margin: auto;
    width: 100%;
    transition: all 0.5s ease;

    //Optional, standarizes the size of the cards
    display: flex;
    flex-direction: column;
    justify-content: center;


}

.linear-a {
    @include gradient-transition(Colour(cold-1),Colour(hot-1),Colour(warm-1),Colour(warm-2), 1s);
}

.image-filtered {
    position: absolute;     //Required to force the child elements to base their dimension from this div
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
}

.image-filtered:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(76, 71, 119, 0.5);
    background-image: url(images/overlay.png);
    background-size: 256px;
    background-position: top left;
    background-repeat: repeat;
    opacity: 1;
    border-radius: inherit;
}

.card-image{
    position: absolute;
    //Prevents the image from falling off when outside of grid/flex (like mobile)
    max-height: 100%;
    width: 100%;
    height: 100%;
}

img {
    display: block;
    object-fit: cover !important;
    object-position: center;
}

.menu-image{
    height: 100%;    
    max-width: 100%;

    @include desktop{
        width: 100%;
        height: 100%;
    }
}

.foot-img{

    max-width: 100%;
    height: 100%;    
    z-index: 0;
    
    @include desktop{
        // position: absolute;
        width: 100%;
        height: 100%;
        object-position: bottom;
        // margin: 0 0 1em 0;
    }
}

#foot-text{
    position: absolute; 
    color: rgb(255, 255, 255);
    font-size: 2.5rem;
    font-weight: 700;
    width: 100%;
    bottom: 5%;
    z-index: 2000;
}